<footer>
  <a href="https://x.com/pa_shashank" target="_blank" aria-label="Twitter">
  <img src="/assets/icons/x-social.png" alt="Twitter" style="height:24px; width:24px;">
</a>
  <a href="https://linkedin.com/in/yourhandle" target="_blank" aria-label="LinkedIn">
  <img src="/assets/icons/linkedin-app-icon.png" alt="LinkedIn" style="height:24px; width:24px;">
</a>
  </a>
  <a href="https://github.com/russvkm" target="_blank" aria-label="GitHub">
  <img src="/assets/icons/github-icon.png" alt="GitHub" style="height:24px; width:24px;">
</a>
</footer>